.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px;
}

.baloon {
  position: absolute;
  top: 20px;
  float: right;
  left: 450px;
}

.speach {
  font-size: 25px;
  position: absolute;
  float: right;
  left: 475px;
  top: 65px;
  z-index: 1;
}

.bowser {
  width: 200px;
  float: right;
}